body {
    background-color:darkseagreen;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: darkslategray;
}

h1 {
    color: darkslategray;
    text-align: center;
    margin: 0;
    padding: 5;

}



