body {
    width: 100%;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;

}

nav {
    margin-right: 135px;
    margin-top: 5px;

}

#otsikko {
    text-align: end;
    padding-top: 35px;
    margin-bottom: 0;

}

.header {
    padding-bottom: 5px;
    max-width: fit-content;
}

#rahi {
    padding: 25px;
    float: right;
    position: relative;
}

#esittely {
    text-align: right;
    margin-bottom: 150px;
    margin-left: 30px;

}

#logo {
    width: 100%;
    margin-bottom: 25px;
    margin-left: 30px;
    
}

h3 {
    margin-left: 25px;
}

#tarina {
    margin-left: 25px;
    margin-bottom: 235px;
}

footer {
    background-color: rgba(245, 245, 245, 0.649);
    padding-top: 11px;
    font-size: 14px;
    width: 100%;
    position:sticky;
    bottom: 0;
    text-align: center;
    display: block;

}