body {
    background-color:seashell;
    font-family: 'Times New Roman', serif;
    width: 95%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    height: fit-content;
}

header {
    background-color:maroon;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    color: seashell;
    margin-top: 2px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.horizontal {
    display: flex;

}

.horizontal > div {
    background-color:goldenrod;
    padding: 15px;
    font-size: 15px;
    color: black;
    flex: 50px;
    text-align: center;

}


a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;

}

a:visited {
    color: rgb(0, 109, 121);
    background-color: transparent;
    text-decoration: none;

}

a:hover {
    color: red;
    background-color: transparent;

}

section {
    width: 130%;
    height: auto;
    padding: 0%;

}

.vertical {
    background-color: transparent;
    float: left;
    width: 11%;
    height: 450px;
    margin-right: 15px;
   
}

ul {
    list-style-type: none;
    padding: 30px;

}

li {
margin-bottom: 20px;

}

.lista {
    margin-left: 15px;

}

#info1 {
    width: 50%;
    height: auto;

}

.info {
    width: 75%;
    height: auto;
}

#nekomata {
    float: right;
    margin-left: 20px;
    
}

#bastet {
    float: right;
    margin-left: 20px;
}

footer {
    background-color:maroon;
    text-align: center;
    padding: 10px;
    color: seashell;

}