body {
    width: 100%;
    font-family: Georgia, serif;
    font-size: medium;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    
}

nav {
    height: 5%;
}

.header {
    max-width: 100%;
    margin-bottom: 0px;

}

#etusivu {
    background-color: blanchedalmond;
}

#rahi {
    max-width: 100%;
    height: auto;
    margin-right: 0px;
}
.col-md-4 {
    padding-right: 0px;
    padding-left: 0px;
}

#otsikko {
    text-align: end;
    padding-top: 130px;
    padding-right: 40px;

}

#esittely {
    text-align: end;
    padding-right: 40px;
    padding-left: 50px;
    padding-bottom: 150px;

}

#otsikko2 {
    text-align: start;
    padding-left: 40px;
 
}

#tarina {
    text-align: start;
    padding-left: 40px;
    padding-right: 50px;
    padding-bottom: 130px;
}

#galleria {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    background-color: blanchedalmond;

}
#otsikko3 {
    text-align: end;
    padding-top: 70px;
    padding-right: 40px;
    padding-bottom: 15px;
    margin-bottom: 0;
}

#demo {
    max-width: 100%;
    margin: auto;
    object-fit: cover;
}

.thumbnails {
    padding-right: 35px;
}

#sivupoyta {
    margin-bottom: 15px;

}

#murasaki {
    margin-bottom: 15px;

}

#hinnat {
    text-align: end;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    background-color: blanchedalmond;
}

#otsikko4 {
    text-align: end;
    padding-top: 70px;
    padding-right: 190px;
    padding-bottom: 15px;
    margin-bottom: 0;
}

#taulukko {
    border-collapse: collapse;
    width: 100%;

    padding-bottom: 130px;
    padding-left: 130px ;
 


}

td, th {
    border: 1px solid;
    text-align: left;
    padding: 20px;

}

footer {
    font-size: 14px;
    width: 100%;
    text-align: center;
    display: block;
    position: sticky;
    padding-top: 20px;

}