body {
    width: 100%;
    font-family: Georgia, serif;
    font-size: medium;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    
}

nav {
    height: 5%;
    margin-top: -6px;

}

#collapsibleNavbar {
    margin-right: 5px;
    text-align: right;
}

.header {
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;

}

#etusivu {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    background-color: blanchedalmond;
}

#rahi {
    max-width: 100%;
    height: auto;
    margin-right: 0px;
}
.col-md-4 {
    padding-right: 0px;
    padding-left: 0px;
}

#otsikko {
    text-align: end;
    padding-top: 130px;
    padding-right: 40px;

}

#esittely {
    text-align: end;
    padding-right: 40px;
    padding-left: 50px;
    padding-bottom: 120px;

}

#otsikko2 {
    text-align: start;
    padding-left: 40px;
 
}

#tarina {
    text-align: start;
    padding-left: 40px;
    padding-right: 50px;
    padding-bottom: 80px;
}

#galleria {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    background-color: blanchedalmond;

}
#otsikko3 {
    text-align: end;
    padding-top: 80px;
    padding-right: 40px;
    padding-bottom: 20px;
    margin-bottom: 0;
}

#demo {
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    
}

.thumbnails {
    padding-right: 40px;
    width: 90%;
    height: 90%;
    max-width: 100%;
    float: inline-end;

}

#sivupoyta {
    margin-bottom: 20px;

}

#murasaki {
    margin-bottom: 20px;

}

#hinnat {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    background-color: blanchedalmond;
}

#muji {
    max-width: 100%;
    height: auto;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#otsikko4 {
    text-align: end;
    padding-top: 70px;
    padding-right: 40px;
    padding-bottom: 15px;
    margin-bottom: 0;
}

#taulukko {
    width: 100%;
    padding-right: 50px;
   
    padding-bottom: 50px;
    
}

td, th {
    border: transparent;
    text-align: left;
    padding: 15px;

}

.tyyppi {
    width: 100%;
}

.hinta {
    width: 40%;
    text-align: end;
}

#yhteystiedot {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    text-align: center;
    background-color: blanchedalmond;
    
}

#logo{
    max-width: 100%;
    padding-top: 130px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

#otsikko5 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 0px;
}

.yhteystiedot {
    margin: 20px;
}

#ig-linkki {
    padding-top: 10px;
    padding-bottom: 90px;
}

footer {
    font-size: 14px;
    width: 100%;
    text-align: center;
    display: block;
    position: sticky;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: -5px;

}